body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.top-list {
    position: relative;
    top: 100px;
    left: 200px;
    text-align: left;
    display: inline-block;
}

.google-logo {
    
    position: absolute;
  top: 0;
  bottom: 125px;
  left: 0;
  right: 0;
  margin: auto;
    width: 22%;
}

.google-profile {
    display: block;
    position: absolute;
    top: 4px;
    right: 18px;
    width: 3.2%;
}

.google-services {
display: block;
position: absolute;
top: 18px;
right: 70px;
width: 2.2%;
height: 4%;
}

input[type=search] {
    border-radius: 20px;
    border: none;
    position: relative;
    top: 320px;
    left: 380px;
    background-color: transparent;
    color: black;
    box-shadow: 1px 1px 1px 1px grey;
    width: 485px;
    height: 38px;
    -webkit-tap-highlight-color: transparent;
} 

.top a {
    display: inline;
    position: relative;
    top: 23px;
    left: 1050px;
    color: black;
}

a {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }

  a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
   .middle button {
       position: relative;
       top: 380px;
       right: 15px;
       background-color: #F3F4F4;
       color: grey;
       border-radius: 3px;
       width: 150px;
       height: 25px;
   }

   .location {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    bottom: 50px;
    width: 100%;
    height: 10%;;

   }

   .navbar {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #cond, #pref, #priv {
      float: right;
      margin-right: 12px;
  }